@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans+Condensed:wght@300;700&display=swap');


:root {
  --background-color: #ddd;
  --primary-color: #005894;
  --secondary-color: #3a7996;
  --tertiary-color: #51b2d7;
}

html {
  background: var(--background-color);
}

@media (min-width: 50rem) {
  body {
    width: 50rem;
  }

  nav {
    padding-top: 3.1rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 50rem) {
  .header {
    flex-direction: column;
  }

  nav {
    padding-top: 0;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}

body {
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  background: white;
  box-sizing: border-box;
}

.header {
  display: flex;
}

#title {
  font-family: "Rock Salt", sans-serif;
  font-size: 2.5rem;
  flex-grow: 4;
  padding-left: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

nav > a {
  font-family: "Open Sans Condensed", sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--primary-color);
  user-select: none;
  text-decoration: none;
  padding-left: 0.3rem;
}

nav > a[selected] {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.summary {
  padding: 0.5rem;
  border-top: 0.2rem solid var(--tertiary-color);
  height: auto;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.summary > h2 {
  margin-top: 0.25rem;
}

.summary > h2 > a {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: var(--primary-color);
}

.summary > h3 {
  margin-top: 0.25rem;
  margin-bottom: auto;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--secondary-color)
}

.summary > p {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  font-size: 1.0rem;
  font-size: 1rem;
}

.readmore {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.readmore > p > a {
  color: var(--secondary-color);
}

.article {
  padding: 0.5rem;
  border-top: 0.2rem solid var(--tertiary-color);
  height: auto;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.article > h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 0;
  color: var(--primary-color)
}

.article > h3{
  margin-top: -1.25rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--secondary-color)
}

.article-body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  font-size: 1.0rem;
  flex: 1;
}

.article-body > h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  font-size: 1.0rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.article-body > h2 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  font-size: 1.0rem;
  font-weight: bold;
  font-size: 0.7rem;
}

.article-body > blockquote {
  font-style: italic;
}

.article-body > figure > img {
  width: 100%;
}

.article-body > figure > figcaption {
  font-style: italic;
}

pre {
  overflow: auto;
  max-width: 100%;
}

.back-button {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: var(--secondary-color);
}

.footer {
  border-top: 0.1rem solid #ddd;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
}
