@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400&display=swap');


:root {
  --background-color: #ddd;
  --primary-color: #005894;
  --secondary-color: #3a7996;
  --tertiary-color: #51b2d7;
}

html {
  background: var(--background-color);
}

@media (min-width: 50rem) {
  body {
    width: 50rem;
  }

  nav {
    padding-top: 1.7rem;
  }
}

@media (max-width: 50rem) {
  blog-header {
    flex-direction: column;
  }

  nav {
    padding-top: 0;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}

body {
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  background: white;
  box-sizing: border-box;
}

blog-header {
  display: flex;
}

#title {
  font-family: "Arsenal", sans-serif;
  font-size: 2.5rem;
  flex-grow: 4;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

nav > blog-link {
  font-family: "Arsenal", sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--primary-color);
  user-select: none;
  text-decoration: none;
  padding-left: 0.3rem
}

nav > blog-link[selected] {
  text-decoration: underline;
}

blog-router {
  flex-grow: 1;
}

blog-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

blog-summary {
  padding: 0.5rem;
  border-top: 0.3rem solid var(--tertiary-color);
  height: auto;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.summary-title {
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: var(--secondary-color);
}

.summary-date {
  margin-top: 0.25rem;
  font-family: "Arsenal", sans-serif;
  font-size: 1rem;
}

.updated-date {
  font-style: italic;
}

.summary-synopsis {
  font-family: "Arsenal", serif;
  font-size: 1rem;
}

.summary-readmore {
  font-family: "Arsenal", serif;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

blog-article {
  padding: 0.5rem;
  border-top: 0.3rem solid var(--tertiary-color);
  height: auto;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

#article-title {
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
}

#article-date {
  margin-top: -1.25rem;
  font-family: "Arsenal", sans-serif;
  font-size: 1rem;
}

#article-body {
  font-family: "Arsenal", serif;
  font-size: 1.0rem;
  flex: 1;
}

#article-body > h1 {
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

#article-body > h2 {
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
}

#article-body > blockquote {
  font-style: italic;
}

pre {
  overflow: auto;
  max-width: 100%;
}

#back-button {
  font-family: "Arsenal", serif;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

blog-footer {
  border-top: 0.1rem solid #ddd;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  font-family: "Arsenal", sans-serif;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
}
